<script id="header-temp" type="text/x-handlebars-template">


      <div id="avatar-container">
        <img src= {{images.0.url}} class="avatar">
         <%if current_user%>
            <%= link_to "logout", user_logout_path(@user), method: :post %>
          <%end%>
      </div>
</script>