// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/








div#search-results-container{
  background-color: pink;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 125px;
}

div.artist-info{
  background-color: orange;
  width: 30%;
  float: left;
}

img.artist-photo{
  width:100%;
}

div.artist-albums{
  float: left;
  background-color: blue;
  width: 70%;
}

div.spotify-player{
  background-color: red;
  width: auto;
  float: left;
}

img.related-artist-avatar {
  height: 100px;
  width: 100px;
}