// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/








div#search-results-container{

  float: left;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

div.artist-div{
  margin-bottom: 40px;
  clear: both;
}

div.artist-info{
  background-color: #fd7214;
  width: 30%;
  height: auto;
  float: left;
}

img.artist-photo{
  width:100%;
}

div.artist-albums{
  float: left;
  height: 100%;
  width: 70%;
}

div.spotify-player{
  width: auto;
  float: left;
  background-color: red;
}

img.related-artist-avatar {
  height: 100px;
  width: 100px;
}

div.related-artists-box {
  text-align: center;
  margin-bottom: 40px;
}