// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url("symphony.png");
}

div#overall-container {
  width:96%;
  height:auto;
  margin: 0px auto;
}

div#head-wrapper{
  height:auto;
  position: fixed;
  width: 100%;
  background-color: #81b71a;
  margin: -10px 0px 0px -8px;
  padding-bottom: 10px;
}

img.avatar {
  border-radius: 100px;
  width: 65px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


div#user-container {
  width:100%;
  height: 100%;
}

div#avatar-container {
  width: 15%;
  float: left;
  height: 90%;
  position: relative;
}

div#logo-container {
  width: 25%;
  float: left;
  height: 90%;
  text-align: center;
}

div#search-container{
  float: left;
  width: 50%;
  height: 90%;
  position: relative;
  margin-right: 10%;
}


form#search-form{
  margin-top: 10px;
  position: relative;
}

.large-textbox{
  height: 50px;
  font-size: 24px;
  width: 85%;
}

.large-textbox-submit{
 font-size: 20px;
 display: inline;
 margin-top: 15px;
 background-color: #fd7214;
 border-radius: 25px;
 color: white;
}

.heading{
  font-family: 'Bevan', cursive;
}


h1#artist-name{
  margin-left: 5px;
}



