// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#search-results-container{

  float: left;
  width: 100%;
  height: auto;
  margin-top: 115px;
}

div.artist-div{
  margin-bottom: 40px;
  clear: both;
}

div.artist-info{
  background-color: #fd7214;
  width: 30%;
  height: auto;
  float: left;
  border-radius: 15px;
}

img.artist-photo{
  width:100%;
}

div.artist-albums{
  float: left;
  height: 100%;
  width: 70%;
  margin-top: 30px;
}


div.spotify-player{
  width: auto;
  float: left;
  border: solid black 1px;
  margin: 0px 0px 2px 2px;
}

img.related-artist-avatar {
  height: 125px;
  width: 125px;
}

img.related-artist-avatar:hover {
  border: solid #81b71a 3px;
  height: 120px;
  width: 120px;
}

div.related-artists-box {
  text-align: center;
  margin-bottom: 40px;
}