<script id="album-stuff" type="text/x-handlebars-template">
  {{#each albums}}
  <div id = {{id}} class="spotify-player">
        <h4 class= "album-title">{{name}}</h4>
        <iframe src="https://embed.spotify.com/?uri=spotify:album:{{id}}" width="275" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
  {{/each}}
</script>