<script id="related-artists" type="text/x-handlebars-template">
<div class= "related-artists-box">
  <h3 class="heading"> Related Artists </h3>
  {{#each artists}}
    <a href="#">
    <img src= {{images.1.url}} title= "{{name}}" data-artist-id= {{id}} class="related-artist-avatar">
    </a>
  {{/each}}
</div>
</script>
