<script id="related-artists" type="text/x-handlebars-template">

  <h4> Related Artists </h4>
  {{#each artists}}

    <img src= {{images.1.url}} title= "{{name}}" data-artist-id= {{id}} class="related-artist-avatar">
  {{/each}}
</script>
